.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 300px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
}

#image {
  height: 300px;
  width: 300px;
  background: url(../img/pic.jpg) no-repeat center center/cover;
}