body {
  background-color: #ccc;
  color: #333;
}
h4 {
  font-family: 'Roboto', sans-serif;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 200px;
  padding-bottom: 3px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
}

.image {
  height: 300px;
  width: 200px;
  background: #333;
}