* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #33151b;
  background-color: #6d3322;
}

/* .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 20px;
  padding-bottom: 3px;
  margin-right: 10px;
} */

/* .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} */
/* .image_cover {
  background-color: #333;
  width: 100%;
  height: 800px;
  background: url(../img/keyboards.jpg) center center/cover;
} */

#profile {
  float: right;
  border-radius: 50%;
}
ul {
  list-style: none;
}
h1 {
  margin-left: 30px;
  float: left;
  font-size: 40px;
}
nav {
  background-color: #da9134;
  overflow: auto;
}
#showcase {
  text-align: center;
  background: url('../img/concert.jpg') no-repeat center center/cover;
  height: 600px;
}
.clr {
  clear: both;
}
#footer {
  background-color: #6d3322;
  text-align: center;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 200px;
  padding-bottom: 3px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.image {
  height: 300px;
  width: 200px;

}

