* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}
body {
  color: #33151b;
  background-color: #6d3322;
}

@media (max-width:800px) {
  .container h1 { 
    display: none;
  }
  .container img { 
    margin: 0 40%;
  }
  .card {
    margin: 0 auto;
    position: absolute;
    top: 0;
    background-color: #da9134;
  }

  body .small-screen h1 {
    background-color: #da9134;
    color: #33151b;
  }
  body .small-screen {
    border-top: 0.5rem solid #6d3322;
  }
  body nav {
    background-color: transparent;
  }

}

@media (max-width:1933px) {
  body #showcase .card {
    margin: 0 auto;
    top: 0;
    position: relative;
    left: auto;
    background-color: #da9134;
  }

}
@media (max-width:400px) {
  body {
    display: none;
  }
}

.landing-page {
  width: 100vw;
  height: 100vh;
}

.card {
  box-shadow: 0 1.4rem 1.8rem 0 rgba(0,0,0,0.2);
  width: 1.5rem;
  padding-bottom: 0.5rem;
  margin-right: 0.8rem;
} 

.card:hover {
  box-shadow: 0 0.8rem 1rem 0 rgba(0,0,0,0.2);
}


#profile {
  float: right;
  border-radius: 50%;
}
ul {
  list-style: none;
}
body .small-screen {
  background-color: #333;
}
.small-screen h1 {
  color: #6d3322;
  background-color: #6d3322;
  text-align: center;
}
.container h1 {
  margin-left: 30px;
  float: left;
  font-size: 40px;
}
nav {
  background-color: #da9134;
  overflow: auto;
}
#showcase {
  text-align: center;
  background: url('../img/concert.jpg') no-repeat top center/cover;
  height: 75vh;
  position: relative;
}
.clr {
  clear: both;
}
#footer {
  background-color: #6d3322;
  text-align: center;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 200px;
  padding-bottom: 3px;
  height: auto;
  margin: 0 auto;
  position: relative;
}
.card img {
  height: 200px;
  width: 200px;
}
.flat_ghost_submit {
  background-color: #6d3322;
  border: 2px solid #da9134;
}
a {
  text-decoration: none;
  color: #da9134;
}
.inner {
  color: #6d3322;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

button {
  text-decoration: none;
}

#showcase .card {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 25%;
  left: 43%;
}

#outer {
  background-image: url(../portfolio/img/concert.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 400px;
  height: 400px;
  background-color: black;
}

#inner {
  background-image: url(../portfolio/img/keyboards.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100px;
  height: 100px;
  background-color: white;
  margin: auto;
  position: absolute;
  top: 38%;
  left: 38%;
}

.scroll {
  align-items: center;
  color: #da9134;
  font-family: Montserrat, serif;
  position: fixed;
  bottom: 0;
  right: 50%;
}

.scroll .f-page {
  color: #da9134;
}

.scroll__icon {
  font-size: 80px;
  animation: down 2s infinite;
  transform: translateY(-10px);
}

.scroll__icon::after {
  z-index: -1;
}

.scroll a {
  text-decoration: none;
  color: #33151b;
  animation-name: wellcom;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
body {
  font-family: 'Roboto', sans-serif;
}
.wellcom-message {
  font-size: 400%;
  text-align: center;
  max-width: 100vw;
  min-height: 90vh;
  animation-name: wellcom;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes wellcom {
  from {
    color: #6d3322;
  }
  to {
    color: #33151b;
  }
}
.name {
  color: #da9134;
}
.scroll .f-page{
  text-align: center;
}